<%- include('partials/header', { title: 'Título del Blog' }) %>

<main>    
    <img class="cover" src="/images/author.jpg" alt="Foto de la autora del libro plantando cara a la infertilidad">
    
    <p class="p-author p-author-bold">Laura Puerto Martín (Teruel, 1982)</p>
    
    <p class="p-author">Es madre de dos niños concebidos gracias a técnicas de reproducción asistida. Es ingeniera técnica y forma parte del equipo tecnológico de Térvalis Desarrollo. También es miembro de la Asociación Red Nacional de Infértiles.

        Plantando cara a la infertilidad es su primera obra. Con ella pretende dar fuerza a todos aquellos que sueñan con ser padres y tienen dificultades para lograrlo, así como acercar a las personas ajenas a este problema a los sentimientos que experimentan cada vez más y más parejas.
    </p>
    
    <p class="p-quote">“Aunque el camino esté lleno de obstáculos y sea duro y agotador,
        siempre merece la pena luchar por un sueño”.
    </p>


</main>

<%- include('partials/footer') %>