<%- include('partials/header', { title: 'Comprar el Libro' }) %>

<main>
    <h2>Compra el Libro</h2>
    <p>El libro está disponible en distintas plataformas. Haz clic en los enlaces para llegar a ellas.</p>
    
    <div class="buy-links">
        <div class="buy-link">
            <h3>1. Web de la editorial Liberum Vox Books (papel)</h3>
            <p>Viene con un marcapáginas de regalo!!</p>
            <a class="buy-button" href="https://liberumvoxbooks.com/tienda/Plantando-cara-a-la-infertilidad-p100772163" target="_blank" rel="noopener noreferrer">Comprar en Liberum Vox Books</a>
        </div>

        <div class="buy-link">
            <h3>2. Amazon (papel)</h3>
            <p>Te agradecería que después de leerlo dejaras tu opinión en la página de Amazon donde lo compraste.</p>
            <a class="buy-button" href="https://www.amazon.es/Plantando-infertilidad-Laura-Puerto-Mart%C3%ADn/dp/8417193049/ref=sr_1_1?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=1H6HFJ44SFMWS&dib=eyJ2IjoiMSJ9.VnMW-6UotVhqQsuTo7WqLw.A7RL_a63Rm3ORleC8UqkQSchG0j4-us9lqerG2ljxo0&dib_tag=se&keywords=plantando+cara+a+la+infertilidad&qid=1725106330&sprefix=plantando+cara+a+la+infertilidad%2Caps%2C103&sr=8-1" target="_blank">Comprar en Amazon</a>
        </div>
    </div>
    
    <p class="p-author-bold">¡ESPERO QUE TE GUSTE!</p>

    <p>Para cualquier consulta que quieras hacerme, puedes escribirme a <a href="mailto:plantandocaraalainfertilidad@gmail.com">plantandocaraalainfertilidad@gmail.com</a></p>
</main>

<%- include('partials/footer') %>
