<%- include('partials/header', { title: 'Título del Blog' }) %>

<main>
    <section class="news-section">
        <h2 class="section-title">Últimas Noticias</h2>
        <div class="news-container">
            <!-- Noticia 1 -->
            <div class="news-card">
                <div class="news-content">
                    <h3 class="news-title">Dando voz a la infertilidad</h3>
                    <p class="news-description">El 17 de mayo tuve la gran suerte de ser invitada al programa 'In Vitro en Libertad' en Libertad FM. No me lo pensé dos veces, ya que para mí fue un gran honor estar en el estudio con Paco Guijarro, y poder seguir aportando mi granito de arena a la hora de eliminar los tabúes que hay alrededor de la reproducción asistida. </p>
                </div>
                <div class="news-image-container">
                    <img src="/images/noticias/in-vitro-en-libertad.jpg" alt="Laura Puerto en el estudio de in vitro libertad" class="news-image">
                </div>
            </div>
            <!-- Fin de la noticia 1 -->
            <!-- Noticia 2 -->
            <div class="news-card">
                <div class="news-content">
                    <h3 class="news-title">La infertilidad y la reproducción asistida aún son un estigma</h3>
                    <p class="news-description">El viernes 31 de marzo 'Plantando cara a la infertilidad' participó en el evento 'La infertilidad y la reproducción asistida aún son un estigma'. Una jornada muy interesante donde se trabajó para eliminar los tabúes que hay alrededor de la reproducción asistida.</p>
                </div>
                <img src="/images/noticias/Agenda-Tabues.jpg" alt="Cartel del evento La infertilidad y la reproducción asistida aún son un estigma" class="news-image">
                <br>
                <img src="/images/noticias/evento-tabues.jpg" alt="Cartel del evento La infertilidad y la reproducción asistida aún son un estigma" class="news-image">
            </div>
            <!-- Fin de la noticia 2 -->
            <!-- Noticia 3 -->
            <div class="news-card">
                <div class="news-content">
                    <h3 class="news-title">Los test genéticos y el fin del anonimato en las donaciones </h3>
                    <p class="news-description">El jueves 23 de febrero estuvimos con la clínica FIV Madrid y MASOLA debatiendo acerca del posible fin del anonimato de los donantes. Fue una jornada muy interesante, donde nos “abrieron los ojos”, y las ponencias de una de sus fundadoras, la Dra Elisabetta Ricciarelli, y la psicóloga, Giuliana Baccino nos hicieron ver que <span class="bold">“no está garantizado el anonimato en la donación de gametos”. </span></p><br>
                    <p class="news-description">Los test genéticos empezaron a utilizarse por motivos médicos, y con un coste muy elevado. Actualmente son muy económicos, y aparte de los distintos motivos médicos, la gente se los hace por motivos de lifestyle. Pueden ofrecernos información muy diversa, como por ejemplo si somos portadores de alguna enfermedad, o si compartimos alguna secuencia de ADN con otra persona en cualquier sitio del mundo. Si hacemos este tipo de test de forma particular, nuestros datos se guardan en bases de datos que podemos decidir que sean abiertas. Si alguien relacionado con nosotros se hace este tipo de test, y decide también poner los datos en estas bases de datos, se establecería la conexión.</p><br>
                    <p class="news-description">Por tanto, cuando esta moda llegue a nuestro país, resultará muy difícil guardar un secreto genético. Por este motivo es muy recomendable revelar los orígenes a los niños nacidos gracias a una donación, porque enterarse en un futuro de una forma indebida puede suponer un impacto psicológico importante.</p><br>
                    <p class="news-description">Tuve la oportunidad de participar aportando mi punto de vista como mamá por donación de óvulos. También aportaron su opinión:</p><br>
                    <p class="news-description"><span class=bold>Rosa Maestro</span>, madre por adopción y donación de esperma, y autora de Cloe quiere ser mamá, Nora y Zoe dos mamás para un bebé, y Lucía y el cofre mágico de la familia.</p><br>
                    <p class="news-description"><span class=bold>Eva María Bernal</span>, madre por donación de embriones y autora de ‘Mi maternidad asistida’, ‘Ser madre por adopción de embriones’ y ‘Madres solas por elección’.</p><br>
                    <p class="news-description"><span class=bold>Anabel Manchón</span>, madre por gestación subrogada y autora de ‘Esperando a Pingüi’.</p><br>
                    <p class="news-description"><span class=bold>Noemí Tovar</span>, madre por adopción y autora de ‘La mirada de Silvia Jie’. </p><br>
                    <p class="news-description"><span class=bold>Ana Senent</span>, en tratamiento de ovodonación.</p><br>
                    <p class="news-description">Y también nos acompañó <span class=bold>Virginia Ruiperez</span>, autora de ‘Fertilidad Natural’.</p><br>
                    <p class="news-description">Aquí os dejo enlace a los artículos de mis compañeras:</p><br>
                    <p class="news-description"><a href="https://www.creandounafamilia.net/test-geneticos-fin-anonimato-donantes/" target="_blank">Los test genéticos y el fin del anonimato</a> - Eva María Bernal</p><br>
                    <p class="news-description"><a href="https://formarfamilia.wordpress.com/2017/02/26/y-si-mi-hijo-pudiera-conocer-a-su-donante/" target="_blank">Y si mi hijo pudiera conocer a su donante?</a> -  Anabel Manchón</p><br>
                    <p class="news-description"><a href="https://masola.org/reproduccion-asistida/test-geneticos-ya-se-quien-soy-y-de-donde-vengo/" target="_blank">Test genéticos: !Ya sé quién soy y de dónde vengo!</a> -  Rosa Maestro</p><br>
                </div>
                <img src="/images/noticias/fin-donaciones.jpg" alt="Foto de las participantes del evento del fin del anonimato en las donaciones" class="news-image">
            </div>
            <!-- Fin de la noticia 3 -->
             <!-- Noticia 4 -->
            <div class="news-card">
                <div class="news-content">
                    <h3 class="news-title">Anonimato en las donaciones</h3>
                    <p class="news-description">¿Está garantizado el anonimato en la donación de gametos?</p><br>
                    <p class="news-description">No nos planteamos la pregunda de si debemos revelar o no los orígenes a nuestros hijos nacidos gracias a la ovodonación, la respuesta está clara, siempre se recomienda contarle al niño la verdad sobre su nacimiento.</p><br>
                    <p class="news-description">La pregunta que nos hacemos ahora va un paso más allá, hablamos del anonimato de la donación de gametos (óvulos, esperma, embriones) y su compatibilidad o no con los “test genéticos directos al consumidor”(DTC genetic testing).</p><br>
                    <p class="news-description">Nuestra legislación sobre técnicas de reproducción asistida (Ley 14/2006 sobre técnicas de reproducción asistida) establece que la donación de gametos será anónima y deberán garantizarse la confidencialidad de los datos. </p><br>
                    <p class="news-description">En 2006, fecha de la ley española, los test genéticos no estaban accesibles al consumidor, pero hoy en día cada vez más personas acceden a los tests genéticos, y no sólo en España, sino en todo el mundo, donde sus datos quedan guardados en bases de datos de acceso público.</p><br>
                    <p class="news-description">Con esta realidad,  ¿podrían conocerse donantes e hijos producto de sus donaciones?, ¿realmente podemos decir que actualmente garantizamos el anonimato en la donación?, ¿qué debemos saber sobre los llamados “tests genéticos directos al consumidor” –DTC genetic testing-?</p><br>
                    <p class="news-description"><a href="https://masola.org/" target="_blank">Masola</a> y Fundación FIV han organizado un evento para intentar dar respuesta a esta pregunta. </p><br>
                    <p class="news-description">Se expondrán diferentes puntos de vista, de profesionales médicos y también de madres que han conseguido serlo a través de la ovodonación, la donación de esperma, la adopción y la gestación subrogada.</p><br>
                    <p class="news-description">¡Os esperamos! Aforo limitado.</p><br>
                    <p class="news-description">Y también nos acompañó <span class=bold>Virginia Ruiperez</span>, autora de ‘Fertilidad Natural’.</p><br>
                    <p class="news-description">Jueves 23 de febrero 2017, a las 18 horas, en Impact Hub Madrid (Calla de la Alameda, 22, Madrid).</p><br>
                    <p class="news-description">Organiza Fundación FivMadrid y Masola (Madres sin pareja por Decisión Propia y Diversidad Familiar).</p><br>
                    <p class="news-description">Inscripción gratuita en: consulta@fivmadrid.es o llamando al 915616616</p><br>                    
                </div>
                <img src="/images/noticias/evento-anonimato.jpg" alt="Foto del evento Anonimato en las donaciones" class="news-image">
            </div>
            <!-- Fin de la noticia 4 -->
            <!-- Noticia 5 -->
            <div class="news-card">
                <div class="news-content">
                    <h3 class="news-title">Fotos y vídeo del 9º picnic online y presencial</h3>
                    <p class="news-description">El sábado 20 de febrero tuvo lugar en el Hospital Quirón de Madrid un gran evento, el 9º picnic online y presencial, organizado por Marian Cisterna y Eva María Bernal. Tuve la gran suerte de ser invitada y compartir mesa con otras siete autoras que han escrito acerca del tema de la infertilidad.</p><br>
                    <p class="news-description">Fue una gran mañana donde compartimos momentos muy emocionantes y recibimos grandes muestras de cariño. ¡¡Sólo puedo decir GRACIAS, GRACIAS Y GRACIAS!!</p><br>
                    <p class="news-description">Aquí os dejo fotos y vídeos del evento.</p><br>
                    <p class="news-description">¡Un abrazo!</p>
                    <p class="news-description">Laura.</p>
                </div>
                <h4 class="news-title">Fotos</h4>
                <img src="/images/noticias/picnic1.jpg" alt="Foto de las participantes del picnic literario" class="news-image">
                <br>
                <img src="/images/noticias/picnic2.jpg" alt="Foto de las participantes del picnic literario" class="news-image">
                <br>
                <img src="/images/noticias/picnic3.jpg" alt="Foto de las participantes del picnic literario" class="news-image">
                <br>
                <img src="/images/noticias/picnic4.jpg" alt="Foto de los libros del picnic literario" class="news-image">
                <br>
                <img src="/images/noticias/picnic5.jpg" alt="Foto de Laura Puerto, participante del picnic literario" class="news-image">
                <br><br>
                <h4 class="news-title">Enlace de los vídeos</h4>
                <a href="https://www.youtube.com/watch?v=Y3OGyKDFtsQ" target="_blank">Presentación de Laura Puerto</a><br>
                <a href="https://www.youtube.com/watch?v=d49D8GCPN1E" target="_blank">Presentación de Noemí Tovar</a><br>
                <a href="https://www.youtube.com/watch?v=JQHpuYZThmw" target="_blank">Presentación de Isabel Ibor</a><br>
                <a href="https://www.youtube.com/watch?v=ZyVWlStTz2g" target="_blank">Presentación de Virginia Ruiperez</a><br>                                
            </div>
            <!-- Fin de la noticia 5 -->
            <!-- Noticia 6 -->
            <div class="news-card">
                <div class="news-content">
                    <h3 class="news-title">Participación de 'Plantando cara a la infertilidad' en el 9º Picnic online y presencial</h3>
                    <p class="news-description">El evento tendrá lugar el 20 de febrero, en la clínica Quirón de Pozuelo de Alarcón, Madrid.</p><br>                    
                </div>                
                <img src="/images/noticias/cartel-picnic.jpg" alt="Foto del cartel del picnic literario" class="news-image">                
                <br><br>
                <p>¡Toda la información contada por sus organizadoras!</p>
                <a href="https://www.creandounafamilia.net/picnic-literario-presencial-y-online-hospital-quiron-madrid-madrid/" target="_blank">Eva María Bernal</a><br>
                <a href="https://mariancisterna.com/picnic-literario-20-de-febrero-en-madrid/" target="_blank">Marian Cisterna</a><br>                
            </div>
            <!-- Fin de la noticia 6 -->
            
        </div>        
    </section>
</main>

<%- include('partials/footer') %>


