<%- include('partials/header', { title: 'Prensa' }) %>

<main>
    <section class="press">
        <h2>Aquí han hablado del libro</h2>
        <ul class="review-list">
            <!-- Reseña 1 -->
            <li class="review-item">
                <h3>ENTREVISTA DE RADIO EN 'IN VITRO EN LIBERTAD' DE LIBERTAD FM (del minuto 10:46 al 21:30)</h3>                    
                <a href="https://www.ivoox.com/2-3-ivel-plantando-cara-a-infertilidad-audios-mp3_rf_18771540_1.html" target="_blank" class="review-link">
                    <div class="review-content">
                        <img src="/images/invitro-libertad.jpg" alt="Logo in vitro Libertad" class="review-image">        
                        <h4>Haz clic aquí</h4>                
                    </div>
                </a>                
            </li>       
            <!-- Reseña 2 -->
            <li class="review-item">
                <h3>REPORTAJE EN REVISTA "PRONTO"</h3>                    
                <a href="https://www.facebook.com/laura.puerto.autora/photos/a.1047859011978477.1073741828.1006600376104341/1208362305928146/?type=3&theater&notif_t=like&notif_id=1488801758584510" target="_blank" class="review-link">
                    <div class="review-content">
                        <img src="/images/PRONTO.jpg" alt="Logo revista Pronto" class="review-image">  
                        <h4>Haz clic aquí</h4>                      
                    </div>
                </a>                
            </li>   
            <!-- Reseña 3 -->
            <li class="review-item">
                <h3>REPORTAJE ESCRITO EN PERIÓDICO "LA RAZÓN"</h3>                    
                <a href="https://www.facebook.com/laura.puerto.autora/posts/1208392769258433" target="_blank" class="review-link">
                    <div class="review-content">
                        <img src="/images/LARAZON.jpg" alt="Logo periódico La Razón" class="review-image"> 
                        <h4>Haz clic aquí</h4>                       
                    </div>
                </a>                
            </li>   
            <!-- Reseña 4 -->
            <li class="review-item">
                <h3>REPORTAJE DIGITAL EN PERIÓDICO "LA RAZÓN"</h3>                    
                <a href="https://www.larazon.es/sociedad/madres-a-toda-costa-DH14645897/" target="_blank" class="review-link">
                    <div class="review-content">
                        <img src="/images/LARAZON.jpg" alt="Logo periódico La Razón" class="review-image">   
                        <h4>Haz clic aquí</h4>                     
                    </div>
                </a>                
            </li>     
            <!-- Reseña 5 -->
            <li class="review-item">
                <h3>ENTREVISTA EN LA WEB DE "MASOLA"</h3>                    
                <a href="https://masola.org/infertilidad-me-senti-una-mujer-defectuosa/" target="_blank" class="review-link">
                    <div class="review-content">
                        <img src="/images/MASOLA.jpg" alt="Logo masola" class="review-image">  
                        <h4>Haz clic aquí</h4>                      
                    </div>
                </a>                
            </li>   
            <!-- Reseña 6 -->
            <li class="review-item">
                <h3>RESEÑA EN "LEYENDO, TEJIENDO Y COCINANDO EN K"</h3>                    
                <a href="https://tejiendoenklingon.blogspot.com/2016/11/plantando-cara-la-infertilidad-laura-m.html" target="_blank" class="review-link">
                    <div class="review-content">
                        <img src="/images/LEYENDO.jpg" alt="Logo leyendo, tejiendo y cocinando en K" class="review-image">     
                        <h4>Haz clic aquí</h4>                   
                    </div>
                </a>                
            </li>      
            <!-- Reseña 7 -->
            <li class="review-item">
                <h3>RESEÑA EN "TRUCOS DE MAMÁS"</h3>                    
                <a href="https://trucosdemamas.com/plantando-cara-la-infertilidad/" target="_blank" class="review-link">
                    <div class="review-content">
                        <img src="/images/trucos-mamas.jpg" alt="Logo Trucos de mamás" class="review-image">  
                        <h4>Haz clic aquí</h4>                     
                    </div>
                </a>                
            </li>                          
            <!-- Reseña 8 -->
            <li class="review-item">
                <h3>ENTREVISTA EN "ASOCIACIÓN RED NACIONAL DE INFERTILES"</h3>                    
                <a href="https://redinfertiles.com/plantando-cara-a-la-infertilidad-entrevista-a-laura-puerto/" target="_blank" class="review-link">
                    <div class="review-content">
                        <img src="/images/logo-red-infertiles.jpg" alt="Logo Red Infértiles" class="review-image">  
                        <h4>Haz clic aquí</h4>                      
                    </div>
                </a>                
            </li>                          
            <!-- Reseña 9 -->
            <li class="review-item">
                <h3>RESEÑA EN "DE LECTURA OBLIGADA"</h3>                    
                <a href="https://lecturaobligada.wordpress.com/2016/05/12/resena-plantando-cara-a-la-infertilidad-de-laura-ma-puerto-martin/" target="_blank" class="review-link">
                    <div class="review-content">
                        <img src="/images/lectura-obligada.jpg" alt="Logo De lectura obligada" class="review-image">      
                        <h4>Haz clic aquí</h4>                  
                    </div>
                </a>                
            </li> 
            <!-- Reseña 10 -->
            <li class="review-item">
                <h3>RESEÑA EN "CORAZONES ENTRE LÍNEAS"</h3>                    
                <a href="https://www.corazonesentrelineas.com/2016/04/resena-65-plantando-cara-la.html" target="_blank" class="review-link">
                    <div class="review-content">
                        <img src="/images/corazones.png" alt="Logo Corazones entre líneas" class="review-image">   
                        <h4>Haz clic aquí</h4>                     
                    </div>
                </a>                
            </li>  
            <!-- Reseña 11 -->
            <li class="review-item">
                <h3>RESEÑA EN "TUPLANNING.COM"</h3>                    
                <a href="https://tuplanning.com/2016/03/23/resena-de-plantandole-cara-a-la-infertilidad-de-laura-maria-puerto-martin/" target="_blank" class="review-link">
                    <div class="review-content">
                        <img src="/images/trucos-mamas.jpg" alt="Logo tu planning" class="review-image">   
                        <h4>Haz clic aquí</h4>                     
                    </div>
                </a>                
            </li>  
            <!-- Reseña 12 -->
            <li class="review-item">
                <h3>RESEÑA EN "CREANDOUNAFAMILIA.NET"</h3>                    
                <a href="https://www.creandounafamilia.net/plantando-cara-ala-infertilidad-resena/" target="_blank" class="review-link">
                    <div class="review-content">
                        <img src="/images/creando-una-familia.jpg" alt="Logo creando una familia" class="review-image">     
                        <h4>Haz clic aquí</h4>                  
                    </div>
                </a>                
            </li>  
            <!-- Reseña 13 -->
            <li class="review-item">
                <h3>RESEÑA EN "EL MEU RACONET - MI PEQUEÑO RINCÓN"</h3>                    
                <a href="https://elmeuraconetmirinconcito.blogspot.com/2016/02/plantando-cara-la-infertilidad-de-laura.html" target="_blank" class="review-link">
                    <div class="review-content">
                        <img src="/images/el-meu-raconet.jpg" alt="Logo el meu raconet" class="review-image">  
                        <h4>Haz clic aquí</h4>                      
                    </div>
                </a>                
            </li>                                                                                                                   
            <!-- Reseña 14 -->
            <li class="review-item">
                <h3>ARTÍCULO EN LA SECCIÓN VERNE DEL PAÍS</h3>                    
                <a href="https://verne.elpais.com/verne/2016/01/22/articulo/1453471975_430198.html" target="_blank" class="review-link">
                    <div class="review-content">
                        <img src="/images/noticia-pais.jpg" alt="Foto noticia artículo en el País" class="review-image">    
                        <h4>Haz clic aquí</h4>                   
                    </div>
                </a>                
            </li>
            <!-- Reseña 15 -->
            <li class="review-item">
                <h3>PRESENTACIÓN DEL LIBRO EN ECO DE TERUEL (video)</h3>                    
                <a href="https://ecodeteruel.tv/presentado-el-libro-plantando-cara-a-la-infertilidad-de-laura-puerto-ver-video/" target="_blank" class="review-link">
                    <div class="review-content">
                        <img src="/images/foto-presentacion.jpg" alt="Foto presentación libro" class="review-image">   
                        <h4>Haz clic aquí</h4>                     
                    </div>
                </a>                
            </li>            
            <!-- Reseña 16 -->
            <li class="review-item">
                <h3>PRESENTACIÓN DEL LIBRO EN DIARIO DE TERUEL</h3>                    
                <a href="https://www.diariodeteruel.es/noticia/69774/laura-puerto-presenta-plantando-cara-a-la-infertilidad" target="_blank" class="review-link">
                    <div class="review-content">
                        <img src="/images/imagen-presentacion.jpg" alt="Foto de la autora en la presentación del libro" class="review-image">
                        <h4>Haz clic aquí</h4>                       
                    </div>
                </a>                
            </li>
            <!-- Reseña 17 -->
            <li class="review-item">
                <h3>WEB WWW.LAINFERTILIDAD.COM</h3>                    
                <a href="https://www.lainfertilidad.com/libro-plantando-cara-a-la-infertilidad/" target="_blank" class="review-link">
                    <div class="review-content">
                        <img src="/images/INFERTILIDAD-COM.jpg" alt="Imagen libro en la web" class="review-image">   
                        <h4>Haz clic aquí</h4>                    
                    </div>
                </a>                
            </li>
            <!-- Reseña 18 -->                                        
        </ul>        
    </section>
    <section class="press">
        <h3>FOTOS DE LA PRESENTACIÓN (vía Cadena Ser Teruel)</h3>                    
        <div class="press-images">
            <img src="/images/presentacion1.jpg" alt="Foto asistentes en la presentación del libro" class="press-image">
            <img src="/images/presentacion2.jpg" alt="Foto autora en la presentación del libro" class="press-image">
            <img src="/images/presentacion3.jpg" alt="Foto asistentes en la presentación del libro" class="press-image">
        </div>                
    </section>         
</main>

<%- include('partials/footer') %>
