<%- include('partials/header', { title: 'El Libro' }) %>

<main>
    <h2>2ª Edición</h2>
    <div class="edition">
        <img class="cover" src="/images/second-edition.jpg" alt="Portada de la segunda edición del libro">
        <div class="edition-content">
            <p>Se supone que si eres joven, sana y quieres ser madre te resultará fácil quedarte embarazada. Pensamos en los hijos que tendremos, a qué edad nos gustaría ser madre… parece todo muy fácil y natural. Pero, a veces, conseguir un embarazo y que llegue a buen término no es tan fácil y natural como solemos pensar. Cuando las cosas se complican comenzamos a transitar por un camino arduo y desconocido. Hay que adaptarse a nuevas opciones que ni se nos habían pasado por la cabeza, enfrentar miedos, impotencia, dolor, dudas… Prejuicios que solemos pensar superados en torno a la infertilidad, a nuestra capacidad para concebir, miedo y vergüenza a explicar lo que nos está pasando se nos hacen presentes.</p>
            <br>
            <p>Plantando cara a la infertilidad es un testimonio valiente, en primera persona, que aporta a las mujeres que están afrontando un tratamiento de reproducción asistida una historia real con la que se sienten identificadas. Un libro que les proporciona fuerza y ánimo para continuar. Y aquellos que tienen seres queridos que sufren la infertilidad, encontrarán un relato que les ayudará a comprender mejor lo que estas personas están viviendo.</p>
        </div>
    </div>
    
    <h2>1ª Edición</h2>
    <div class="edition">
        <img class="cover" src="/images/first-edition.jpg" alt="Portada de la primera edición del libro">
        <div class="edition-content">
            <p>A menudo creemos que podemos decidir cuándo y cómo emprender la aventura de tener un hijo, y planificamos nuestra maternidad: “Tendré un hijo antes de los 30” o “tendré tres hijos”, podemos llegar a pensar. Sin embargo, llegado el momento, muchas mujeres se sorprenden al descubrir que la maternidad no está bajo su control y todos sus planes se rompen. En Plantando cara a la infertilidad la autora relata en primera persona su experiencia personal; una de esas historias en las que lograr ser madre es algo más complicado que decidir cuándo es el mejor momento.</p>
            <br>
            <p>En su larga lucha contra la infertilidad experimenta grandes dosis de miedo y soledad, de impotencia y frustración, pero gracias a su firme determinación todo el dolor acabará por transformarse en una felicidad infinita. Este relato pretende dar fuerza y una luz de esperanza a las parejas que se encuentran en la misma situación. Aunque el camino esté lleno de obstáculos y sea duro y agotador, siempre merece la pena luchar por un sueño.</p>
        </div>
    </div>
</main>

<%- include('partials/footer') %>
